<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= this_blog.blog_name %> <%= ("| #{@article.title}") if @article %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<%= page_header %>
	<%= stylesheet_link_tag "/stylesheets/theme/birdflu", :media => 'all'  %>
</head>

<body>

<div id="sidebar" class="clearfix">
  <div id="sidebarCont" class="clearfix">
	<%= render_sidebars %>
  </div>
</div>
<div id="content">
<div id="header">
	<h1><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
	<p><%= this_blog.blog_subtitle %></p>
</div>
	<div id="main"><%= @content_for_layout %></div>
</div>

</body>
</html>
