<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/deco", :media => 'all'  %>
  <%= stylesheet_link_tag "/stylesheets/theme/local", :media => 'all'  %>
</head>
<body>
  <div id="container" class="clearfix">
      <div id="header">
          <h1 id="sitename"><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
      </div>
      
      
      <div id="content" class="clearfix">
          <%= @content_for_layout %>
          <%= javascript_tag "show_dates_as_local_time()" %>
      </div>
      <div id="sidebar">
      <div class="sidebar-node">
            <div id="search"> <%= render :partial => "shared/search" %></div>
            <div id="search-results"></div>
      </div>

            <%= render_sidebars %>
            <%= link_to image_tag("powered.gif"),  "http://typosphere.org", {:class => "powered" } %>
      </div>
      <div id="footer">
      </div>
  </div>
</body>
</html>
