<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/autumnBunch", :media => 'all'  %>
  <%= stylesheet_link_tag "/stylesheets/theme/local", :media => 'all'  %>
</head>
<body>
  <div id="container">
      <div id="header">
        <div id="logo">
            <table cellspacing='0'>
                <tr>
                    <td id="lHead">
                        <h1 id="sitename"><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
                        <h2 id="subtitle"><%= this_blog.blog_subtitle %></h2>
                    </td>
                    <td>&nbsp;</td>
                    <td id="rImg">
                        <img src="../../images/theme/head_fl.jpg" alt="header image" />
                    </td>
                </tr>
            </table>
        </div>
      </div>
      
      <div id="content">
          <div id="search-results"></div>
          <%= @content_for_layout %>
          <%= javascript_tag "show_dates_as_local_time()" %>
      </div>
        <div id="sidebar">
            <div id="search"> <%= render :partial => "shared/search" %></div>
              <%= observe_field "q", 
                  :frequency => 1, 
                  :url => { :controller => "live", :action => "search" }, 
                  :loading => "Element.show('search_spinner')",
                  :complete => "Element.hide('search_spinner')",
                  :update => "search-results" -%>

            <%= render_sidebars %>
            <div id="misc">
                <%= link_to image_tag("powered.gif"),  "http://typosphere.org", {:class => "powered" } %> <br />
                <a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0</a> <br />
                <a href="http://jigsaw.w3.org/css-validator/validator?uri=<%= url_for :controller => 'articles' %>">Valid CSS</a>
            </div>
        </div>

            <br clear="all" />

        <div id="footer">
        </div>
  </div>
</body>
</html>
