<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/undohtml", :media => 'all' %>
  <%= stylesheet_link_tag "/stylesheets/theme/general", :media => 'all' %>  
  <%= stylesheet_link_tag "/stylesheets/user-styles", :media => 'all' %>
  <%= stylesheet_link_tag "/stylesheets/theme/print", :media => 'print' %>
  <% benchmark "BENCHMARK: layout/script" do %>
  <% end %>
  
  <!--[if lt IE 6]>
  <%= stylesheet_link_tag "/stylesheets/theme/ie5x", :media => 'all' %>     
   <![endif]-->
</head>
<% benchmark "BENCHMARK: layout/body" do %>

	<body>
	  <div id="header">
	    <div id="logo">
  	    <h1><%= link_to this_blog.blog_name, {:controller => "/"} %></h1>
  	    <p class="subtitle"><%= this_blog.blog_subtitle %></p>
  	  </div>
  	  <div id="search">
          <%= render :partial => "shared/search" %>
	    </div>
    </div>	  
	  
	  <div id="wrap"><div id="wrap2">
      <div id="content">
        <%= @content_for_layout %>
        <%= javascript_tag "show_dates_as_local_time()" %>
      </div>
      <div id="rightbar">
        <div id="sidebar">
          <%= render_sidebars %>
        </div>
        <div id="searchbar">&nbsp;</div>
      </div>
    </div></div>
    
    <div id="footer"><div id="footer2">
      <div id="copyright">
      <%= this_blog.blog_name %>, <%= this_blog.blog_subtitle %> &copy;<%= Time.now.year %> <%= User.find(:all).collect{|u| u.name || u.username.capitalize}.join(", ") %>
      </div>
      <div id="validations">
        <a href="http://validator.w3.org/check?uri=referer" class="valid"><strong>valid</strong> XHTML 1.0</a>
        <a href="http://jigsaw.w3.org/css-validator/validator?uri=<%= url_for :controller => 'articles' %>" class="valid"><strong>valid</strong> CSS</a> 
        <a href="http://typosphere.org">Typo powered</a>
      </div>
    </div></div>
    
	</body>
</html>
<% end %>
