<li class="graybox" id="trackback-<%= trackback.id %>"<%= onhover_show_admin_tools(:trackback, trackback.id) %>>
  
  <a name="trackback-<%= trackback.id %>"></a>
  <div class="comment-head"><span class="comment-author"><a href="<%= trackback.url %>" rel="nofollow"><%= trackback.title %></a></span> at <%= trackback.blog_name %></div>
  <%= trackback.excerpt %>
</li>
