<% for article in @articles -%>
 <div class="post">
  <h2><a href="<%= article.permalink_url %>" title="go read <%= article.title %>"><%= article.title %></a></h2>
  <div class="postcontent">
  <%= render :partial => "articles/article", :object => article %>
  <%= article_link "Read more &raquo;", article if article.extended? %>
  </div>
  <p class="meta">
  <%= article_links article %>
  </p>
  </div> 
<% end -%>

<p id="pagination"><%= will_paginate @articles %></p>