<% if @tada -%>
<h3 id="tada-heading"><%= @tada.title %></h3>
<ul id="tada-list">
<% for task in @tada.tasks.to_a.slice(0,@sb_config['count'].to_i) -%>
  <% if task.status == :completed  -%>
    <li><del><a href="<%= task.link %>" title="<%= task.title %>"><%= task.title %> </a></del></li>
  <% else -%>
    <li><a href="<%= task.link %>" title="<%= task.title %>"><%= task.title %> </a></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>
