<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/checkmate" %>
  <%= stylesheet_link_tag "/stylesheets/theme/local" %>
  <script type="text/javascript"><%= @content_for_script %>

  //Poor man's image preloader.
  PreloadRollover1= new Image(20,20); 
  PreloadRollover1.src="images/theme/bullet_knight_black.gif"; 
</script>
</head>

<body>

<div id="mainarea">

	<div id="header">
		<h1 id="sitename"><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
		<h2 id="subtitle"><%= this_blog.blog_subtitle %></h2>
	</div>

	<div id="content">
		<div id="articles">
			<%= @content_for_layout %>
			<%= javascript_tag "show_dates_as_local_time()" %>
		</div>

		<div id="sidebar">
			<%= render_sidebars %>
      		
			<div class="sidebar-node">
			<h3>Search</h3>
			<div id="search"> <%= render :partial => "shared/search" %></div>      
        	  
			<div id="search-results"></div>

			</div>
		</div>

	<div id="footer">
			Header photograph by Kathryn Mccallum. Chess piece graphics by Armando Hernandez Marroquin. Code and design by Ross Tuck. &copy; 2005
	</div>
</div>


</body>
</html>
