<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
       xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
    rdf:about=""
    trackback:ping="<%= url_for :controller=>"articles", :action=>"trackback", :id=>@article %>"
    dc:title="<%=h @article.title.gsub(/-+/, '-') %>"
    dc:identifier="<%= url_for :controller=>"articles", :action=>"read", :id=>@article %>"
    dc:description="<%=h @article.html(:body)[0..255].strip_html.gsub(/-+/, '-') %>"
    dc:creator="<%= h @article.author %>"
    dc:date="<%= @article.updated_at.xmlschema %>" />
</rdf:RDF>
-->
<h2 <%= onhover_show_admin_tools(:article) %>>
  <%= @article.title %> <span class="date"><%= @article.created_at.strftime("%b ") + @article.created_at.day.ordinalize %></span>
  <%= link_to("edit", { :controller => "admin/content", :action => "edit", :id => @article },
      :class => "admintools", :style => "display: none", :id => "admin_article") %>
</h2>
<p class="meta">
  Posted by <strong><%= author_link(@article) %></strong>
  <%= render :partial => "article_categories", :locals => {:article => @article} %>
  <%= js_distance_of_time_in_words_to_now @article.created_at %>
  <span class="tags"><%= "<br/>" + tag_links(@article) if @article.tags.size > 0%></span>
</p>

<%= @article.html(:body) %>

<p class="entry-nav">
  <% if @article.allow_comments? -%><a href="#commentform" class="read-more"><strong>Add a comment </strong></a><% end %>
  <a href="/" class="back"><strong>Return</strong> to home</a>
  <a href="<%= @article.permalink_url %>" class="permalink"><span>Permalink</span></a>
</p>

<% if @article.allow_comments? or @article.comments.size > 0 -%>
  <a name="comments" class="clear"></a><h2 id="comments">Comments</h2> 
  <ol class="comments" id="commentList">
  <% if @article.comments.blank? %>
    <li id="dummy_content" class="dummy"> no comments yet </li>
  <% else %>
    <%= render(:partial => "comment", :collection => @article.comments.to_a.select {|c| c.published? }) %>
  <% end %>
  </ol>
<% end -%>

<% if @article.allow_pings? -%>
  <a name="trackbacks" class="clear"></a><h2 id="trackbacks">Trackbacks</h2> 
  <ol class="comments" id="trackbackList">
  <% if @article.comments.blank? %>
    <li class="dummy"> no trackbacks yet </li>
  <% else %>
    <%= render(:partial => "trackback", :collection => @article.trackbacks) %>
  <% end %>
  </ol>
<% end -%>

<% if @article.allow_comments? -%>
  <%= render :partial => 'comment_box' %>
<% else -%>
  <p>Comments are disabled</p>
<% end -%>

<p class="syndication">
  <% if @article.allow_pings? -%>
  <strong>Trackback:</strong> Use the following link to trackback from your own site: <a href="<%= url_for :controller=>"articles", :action=>"trackback", :id => @article.id %>" ><%= url_for :controller=>"articles", :action=>"trackback", :id => @article.id %></a>  <br/>  
  <% end %>
  <strong>RSS:</strong> <a href="<%= url_for :controller => 'xml', :action=>'feed', :type=>'article', :format => 'atom', :id => @article %>">Atom feed for this post</a>
</p>
