<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/hitek", :media => 'all'  %>
  <%= stylesheet_link_tag "/stylesheets/theme/pink", :media => 'all'  %>
  <%= stylesheet_link_tag "/stylesheets/theme/local", :media => 'all'  %>
</head>
<body>
  <div id="container">
     <div id="sidebar">
        <div id="search"> <%= render :partial => "shared/search" %></div>
          <div id="search-results"></div>

          <%= render_sidebars %>
          <%= link_to image_tag("powered.gif"),  "http://typosphere.org", {:class => "powered" } %>
      </div>

     <div id="right">
      <div id="header">
        <div id="logo">
          <h1 id="sitename"><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
          <!--<h2 id="subtitle"><%= this_blog.blog_subtitle %></h2>-->
        </div>
        <div id="tabs">
           <div class="tab active_tab"><a href="/">home</a></div>
           <div class="tab about_tab"><a href="/pages/about">about</a></div>
           <div class="tab contact_tab"><a href="/pages/contact">contact</a></div>
        </div>
      </div>
      <div id="shadow"></div>
      
      <div id="content">
        <div id="main">
          <%= @content_for_layout %>
          <%= javascript_tag "show_dates_as_local_time()" %>
        </div>
      </div>
    </div>
    <br style="clear: both" />
  </div>
</body>
</html>
