<li id="trackback-<%= trackback.id %>" class="comment" <%= onhover_show_admin_tools(:trackback, trackback.id) %>>
  <div class="content"><a name="trackback-<%= trackback.id %>" class="anchor"></a><%= trackback.excerpt %></div>
  <div class="cite">
    <cite><a href="<%= trackback.url %>" rel="nofollow"><%= trackback.title %></a>
    From <strong><%= trackback.blog_name %></strong>
  </cite></div>
</li>
